.page{
    width:100%;
    height: 800px;
    display:flex;
}
.page .left{
    wposition: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);

}
.page .right{
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-bottom: 1rem!important;
    max-width: 100%;
}