.Top {
    text-align: center;
  }
  
  .Top-logo {
    height: 12vmin;
    pointer-events: none;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .Top-logo {
      animation: Top-logo-spin infinite 20s linear;
    }
  } */
  
  .Top-header {
    background-color: #f8f9fa;
    min-height: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(5px + 2vmin);
    color: white;
  }
  
  .Top-link {
    color: #61dafb;
  }
  
  /* @keyframes Top-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  