.Top {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  text-align: center;
}

.header_logo {
  margin-left: 70px;
  height: 12vmin;
  pointer-events: none;
}

.header_text1{
  margin-right: 5px;
  color: black;

}
.header_text2{
  color: orange;
}

.header_text3{
  color: black;
}

.header_button{
  color: black;
}


.Top-header {
  position: relative;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 0 0 1px;
  top: 0;

  border-radius: 0;
  min-height: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  right: 0;
  left: 0;
  z-index: 1030;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  /*font-size: calc(5px + 2vmin);*/
  color: white;
}

.Top-link {
  color: #61dafb;
}

